body{
    background-image:url(../images/pexels-photo-259447.jpeg);
    object-fit: cover;
}
/* header of the gallery  */
.gallery-title
{
    font-size: 36px;
    color: black;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
/* styling of the filter button */
.filter-button
{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: black;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: black;

}
.btn-default:active .filter-button:active
{
    background-color: black;
    color: white;
}

/* .port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
} */

.filters{
    padding-left: 100px;
}
/* 
.pictures{
    padding-top: 10px;
} */

  
.column {
    float: left;
   width: 25%;
    padding: 7px;
    padding-top: 30px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  

  #pics{
    width: 100%;  
    height: 360px;
    background-color: #666666;
  }

  .lookbook img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 .lookbook #overlay {
  
   
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    
    text-align: center;
  }
  
  /* When you mouse over the container, fade in the overlay title */
  .lookbook #overlay {
    opacity: 1;
  }
